<div class="modal-header">
    <h4 class="modal-title">Create product</h4>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="productName">Name</label>
            <input ng-model="product.name" type="text" class="form-control" id="productName" placeholder="name">
        </div>
        <div class="form-group">
            <label for="productPrice">Price</label>
            <input ng-model="product.price" type="text" class="form-control" id="productPrice" placeholder="price">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-click="close()" type="button" class="btn btn-default">Cancel</button>
    <button ng-click="submit()" type="submit" class="btn btn-primary">Create</button>
</div>