<div class="modal-header">
    <h4 class="modal-title">Create customer</h4>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="customerName">Name</label>
            <input ng-model="customer.name" type="text" class="form-control" id="customerName" placeholder="name">
        </div>
        <div class="form-group">
            <label for="customerAddress">Address</label>
            <input ng-model="customer.address" type="text" class="form-control" id="customerAddress" placeholder="address">
        </div>
        <div class="form-group">
            <label for="customerPhone">Phone</label>
            <input ng-model="customer.phone" type="text" class="form-control" id="customerPhone" placeholder="phone">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-click="close()" type="button" class="btn btn-default">Cancel</button>
    <button ng-click="submit()" type="submit" class="btn btn-primary">Create</button>
</div>