<div class="well">
    <h3>Invoices</h3>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Customer</th>
            <th>Discount, %</th>
            <th>Products</th>
            <th>Total</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="invoice in invoicesList track by $index" ng-controller="getInvoiceItems">
            <td>{{invoice.id}}</td>
            <td>{{invoice.customer_id}}</td>
            <td>{{invoice.discount}}</td>
            <td>
                <ul style="list-style: inherit;">
                    <li ng-repeat="invoiceProduct in invoiceProductsName track by $index">
                        {{invoiceProduct}}
                    </li>
                </ul>
            </td>
            <td>{{invoice.total | number:2}}</td>
            <td>
                <button type="button" class="btn btn-danger" ng-click="delete(invoice.id)">x</button>
                <button type="button" class="btn btn-default" ng-click="edit(invoice, invoiceProductsInCart)">edit</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-lg-3 col-lg-offset-3">
    <button type="button" class="btn btn-large btn-default" ng-click="create()">Create Invoice!
    </button>
</div>
