<div class="well">
    <h3>Invoices</h3>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Customer</th>
            <th>Discount</th>
            <th>Total</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="invoice in invoicesList track by $index">
            <td>{{invoice.customer_id}}</td>
            <td>{{invoice.discount}}</td>
            <td>{{invoice.total}}</td>
            <td><button type="button" class="btn btn-danger" ng-click="delete(invoice.id)">x</button></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-lg-3 col-lg-offset-3">
    <button type="button" class="btn btn-large btn-default" ng-click="create()">Create Invoice!
    </button>
</div>
